body {
    font-family: Arial, sans-serif;
    background-color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    color: white;
}

.activities {
    margin: 20px 0;
}

button {
    background-color: #6669ff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8400ff;
}
